@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
}

#team .square {
  background-color: #eff3f4;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: -25px;
}

.square {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #d92123;
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 40px;
}

.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #d92123;
}

.section-title {
  color: #191919;
  font-size: 2rem;
}

#about-text .section-subtitle,
#about-text .section-title {
  color: #fff;
}

.i {
  background-color: #d92123;
  color: #fff;
  font-size: 2.5rem;
  padding: 2rem;
}

#other-services .i {
  padding: 1rem;
  font-size: 1.5rem;
}

#about-text .i {
  background-color: transparent;
}

#about-data .data .i {
  background-color: transparent; 
  color: #d92123; 
  font-size: 4rem; 
  padding: 0;
}

#contact .i {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #d92123;
}

#about-data .data:first-child {
  border-bottom: 1px solid #191919;
  border-right: 1px solid #191919;
}

#about-data .data:last-child {
  border-top: 1px solid #191919;
  border-left: 1px solid #191919;
}

.banner {
  opacity: 0;
}
.banner.active {
  opacity: 1;
}

.dot {
  background-color: #868686;
}

.dot.active {
  background-color: #d92123;
}

.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #d92123;
  color: #fff;
  align-self: end;
}

#contact .btn {
  align-self: start;
  border: 2px solid #fff;
  font-size: 1.2rem;
  transition: 0.4s;
}

#contact input,
#contact textarea {
  flex: 0.5;
  padding: 1rem;
  border: none;
}

#footer .i {
  font-size: 1rem;
  padding: 0.3rem;
}

#footer a {
  color: #fff;
}

#footer p .i {
  background-color: transparent;
  padding: 0;
  color: #d92123;
}

#footer nav a {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #868686;
}

.phone-number {
  display: flex;
  border: 1px solid #d92123;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

#menu,
#close-menu {
  font-size: 2rem;
  padding: 1rem;
  display: none;
}

#close-menu {
  position: absolute;
  top: 0;
  right: 0;
}

#mobile-navbar {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  transition: 0.4s;
  z-index: 5;
}

#mobile-navbar.menu-active {
  left: 0;
}

#mobile-navbar a {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d92123;
}

@media (max-width: 450px) {
  /* Geral */
  body {
    overflow-x: hidden;
  }

  .i {
    padding: 1.5rem;
    font-size: 2rem;
  }

  /* navbar */
  #navbar {
    display: none;
  }

  #menu,
  #close-menu {
    display: block;
  }

  .banner {
    max-width: 100%;
    padding: 4rem 2rem;
  }

  .banner h2 {
    font-size: 3rem;
  }

  .banner p {
    font-size: 1rem;
  }

  /* Áreas de atuação */
  .btn {
    align-self: initial;
  }

  .image-container {
    flex: 1 1 100%;
  }

  #other-services {
    flex-wrap: wrap;
  }

  /* Sobre nós */
  #about {
    gap: 0;
  }

  #about-text,
  #about-data {
    flex: 1 1 100%;
  }

  .about-description {
    gap: 1rem;
  }

  .about-description .i {
    padding: 0;
    min-width: 40px;
  }

  #about #about-data .data {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-text-color);
  }

  /* Depoimentos */
  .text-container {
    text-align: center;
    padding: 2rem;
  }

  /* Colaboradores */
  #team {
    margin-top: 2rem;
  }

  #team h2 {
    font-size: 2.5rem;
  }

  .employees {
    flex-wrap: wrap;
  }

  /* Contato */
  #contact {
    padding-bottom: 0;
  }

  #contact-information {
    padding: 7rem 1rem;
  }

  #contact-information .form-control {
    flex-direction: column;
  }

  #contact-information .btn {
    align-self: auto;
  }

  /* Rodapé */
  #footer {
    flex-wrap: wrap;
  }
  
  #footer .i {
    font-size: 2rem;
    padding: 1rem;
  }

  .footer-brand {
    text-align: center;
  }

  .networks {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .links-container {
    margin-bottom: 1rem;
  }

  .links-container h4 {
    margin-bottom: 1.5rem;
  }

  .contact-info,
  .links-container {
    width: 100%;
  }
}